.side-menu-container{
    background: white; 
    box-shadow: -10px 10px 25px 5px #CCE3DE;
}

img{
    height: 50px;
    width: 50px;
}

.menu-title{
    margin-left: 50px;
    padding: 200px 8px;
}

.side-menu-item{
    border-radius: 8px;
    padding: 8px 8px;
    padding-left: 24px;
    margin: 2px;
    vertical-align: middle;
}

.side-menu-item:hover{
    background-color: #a3d8f4;
    color: white;
}

.side-menu-item i, .side-menu-item a{
    color: #7579e7;
}

.side-menu-item a{
    text-decoration: none;
}

.side-menu-item i{
    text-decoration: none;
}

body{
    max-height: 100vh;
    overflow-y: hidden;
}

.card-summary-title{
    font-weight: bold;
}

#wrapper.dflex.side-menu-toggled{
    background-color: blue;
}